
#div1{
	background-color: red;
    height: 200px;
    width: 200px;
}
#div2{
	background-color:green;
    height: 200px;
    width: 200px;
}

span{
	display: block;
}

div{
	/*display: inline;  for inline element we canot set height or width
	 because they are inline so they occupy full space */
	display: inline-block;
}

