
#logo-img{
	height: 100vh;
	width: 100vw;
	background-image: url("static/download.png");
	/*in this case img is repeating itself */
	background-repeat:no-repeat; /*ye set krnay say ab repeat nh hoghi*/

	/*some other option bhi hotay h	as repeat,repeat-x,repeat-y,round,space etc*/

	background-position: center; /*many other option like left,right,bottom,top etc*/
     
    /*background-size: cover;/*it will cover entire area*/  
    background-size: contain;
   /*background-size: 200px 300px;*/

   /*background-attachment: scroll; by default it is scroll
                            when u r scrolling the oage it will scroll*/
                            
    background-attachment:fixed; /*background is fixed*/                       
	
}
